<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">İLETİŞİM</h2>
                    <h3 class="section-subheading text-muted"> </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                    <div class="class="col-md-4">
                                        <i class='fas fa-map-marker-alt fa-inverse' style='font-size:36px'></i>
                                             <h3 class="section-heading">Adres: </h3>
                                             <h4 class="section-heading">Cinnah Caddesi 19/10 Çankaya/ANKARA </h4>
                                            
                                              </div>
                                                                        
                                         <div class="class="col-md-4">
                                           <!-- <i class="fa fa-phone fa-inverse" style="font-size:36px"></i> -->
                                           
                                             <h3 class="section-heading">Tel: </h3>
                                             <h4 class="section-heading">0312 426 36 08</h4>
                                          
                                           </div>
                                            
                                          <div class="class="col-md-4">
                                          <i class='fas fa-mobile-alt fa-inverse' style='font-size:36px'></i>
                                         
                                            <h3 class="section-heading">Cep Tel:</h3>
                                             <h4 class="section-heading">0534 765 38 49</h4>                              
                                            
                                           </div>
                                             <div class="class="col-md-4"> 
                                                              
                                <i class='far fa-envelope-open fa-inverse' style='font-size:36px'></i>
                                         <!-- <i style="font-size:24px" class="fa">&#xf003;<i class="fa fa-globe fa-stack-1x fa-inverse"></i></i> -->
                                             <h3 class="section-heading">Email:</h3>
                                             <h4 class="section-heading">zbyyapi@gmail.com</h4>  
                                           
                                           </div>   
                                    
                           
                            </div>
                            </div>
                            
                    </form>
                </div>
            </div>
        </div>
    </section>
