<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                 <ul class="nav navbar-nav navbar-left">
               <li>  
                    <a class="page-scroll" href="#page-top">ZBY İNŞAAT</a>
                 </li>
                       </ul>
                     
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Anasayfa</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Projeler</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Kurumsal</a>
                    </li>
             
                   <li>
                        <a class="page-scroll" href="#contact">İLETİŞİM</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
     <header>
        <div class="container">
            <div class="intro-text">
                <h1>ZBY<h1>
                <h3>YAPI MÜHENDİSLİK İNŞAAT SANAYİ VE TİCARET LİMİTED ŞİRKETİ<h3>
                <br />
                <a href="#services" class="page-scroll btn btn-xl">Daha Fazlası İçin</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

